<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol always="true">9000</defaultcontrol>
	<allowoverlay>yes</allowoverlay>
	<controls>
		
		<!--background-->
		<include>globalBackground</include>
		<!--date and time-->
		<include>dateTime</include>
		<!-- Music overlay -->
		<include>MusicOverlay</include>

		
		<!-- Main Menu-->
		<control type="group">
			<posx>312</posx>
			<posy>209</posy>
			<!--overlay-->
			<control type="image">
				<posx>-312</posx>
				<posy>118</posy>
				<width>fullscreenWidth</width>
				<height>430</height>
				<texture>masks/black.png</texture>
				<colordiffuse>88ffffff</colordiffuse>
				<aspectratio>stretch</aspectratio>
			</control>
			<!--animations-->
			<include>modalDialogInOutVertical</include>
			<control type="image">
				<posx>-384</posx>
				<posy>44</posy>
				<width>2500</width>
				<height>1-row</height>
				<texture>masks/selected.png</texture>
				<colordiffuse>ffffffff</colordiffuse>
				<aspectratio>stretch</aspectratio>
			</control>
			<control type="image">
				<posx>-3</posx>
				<posy>44</posy>
				<width>3</width>
				<height>1-row</height>
				<texture>masks/black.png</texture>
				<colordiffuse>ffffffff</colordiffuse>
				<aspectratio>stretch</aspectratio>
			</control>
			<control type="label">
				<posx>12</posx>
				<posy>44</posy>
				<width>8-col</width>
				<font>pageTitle</font>
				<label>$LOCALIZE[5]</label>
				<textcolor>black</textcolor>
				<shadowcolor>-</shadowcolor>
			</control>
			<!--menu-->
			<control type="Panel" id="9000">
				<posx>0</posx>
				<posy>2-row</posy>
				<width>18-col</width>
				<height>12-col</height>
				<onup>9000</onup>
				<ondown>9000</ondown>
				<itemlayout width="6-col" height="2-row">
					<control type="image">
						<posx>0</posx>
						<posy>12</posy>
						<width>72</width>
						<height>72</height>
						<aspectratio scalediffuse="false">scale</aspectratio>
						<texture fallback="masks/offblack.png" diffuse="masks/circle.png" border="0">$INFO[Listitem.icon]</texture>
						<bordersize>0</bordersize>
						<colordiffuse>ccFFFFFF</colordiffuse>
					</control>
					<control type="label">
						<posx>18</posx>
						<posy>18</posy>
						<width>326</width>
						<font>symbolLarge</font>
						<textcolor>unselected</textcolor>
						<label>$INFO[ListItem.label2]</label>
					</control>
					<control type="label">
						<posx>85</posx>
						<posy>5</posy>
						<width>326</width>
						<font>itemTitle</font>
						<textcolor>unselected</textcolor>
						<label>$INFO[ListItem.label]</label>
					</control>
					<control type="label">
						<posx>101</posx>
						<posy>38</posy>
						<width>326</width>
						<font>smallMedium</font>
						<textcolor>unselected</textcolor>
						<label>$INFO[listitem.property(label3)]</label>
					</control>
				</itemlayout>
				<focusedlayout width="6-col" height="2-row">
					<control type="image">
						<posx>0</posx>
						<posy>12</posy>
						<width>72</width>
						<height>72</height>
						<aspectratio scalediffuse="false">scale</aspectratio>
						<texture fallback="masks/circle.png" diffuse="masks/circle.png" colordiffuse="FFFFFFFF" border="0">$INFO[Listitem.icon]</texture>
					</control>
					<control type="label">
						<posx>18</posx>
						<posy>18</posy>
						<width>326</width>
						<font>symbolLarge</font>
						<textcolor>selected</textcolor>
						<label>$INFO[ListItem.label2]</label>
					</control>
					<control type="label">
						<posx>85</posx>
						<posy>5</posy>
						<width>326</width>
						<font>itemTitle</font>
						<textcolor>selected</textcolor>
						<label>$INFO[ListItem.label]</label>
						<scroll>true</scroll>
					</control>
					<control type="label">
						<posx>101</posx>
						<posy>38</posy>
						<width>326</width>
						<font>smallMedium</font>
						<textcolor>selected</textcolor>
						<label>$INFO[listitem.property(label3)]</label>
					</control>
				</focusedlayout>
				<content>
					<item id="1">
                        <description>Player Settings</description>
                        <label>$LOCALIZE[14201]</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31063]</property>
                        <onclick>activatewindow(PlayerSettings)</onclick>
					</item>
					<item id="2">
                        <description>Library Settings</description>
                        <label>$LOCALIZE[14203]</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31079]</property>
                        <onclick>activatewindow(MediaSettings)</onclick>
					</item>
					<item id="3">
                        <description>Services Settings</description>
                        <label>$LOCALIZE[14208]</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31071]</property>
                        <onclick>activatewindow(ServiceSettings)</onclick>
					</item>
					<item id="4">
                        <description>Interface settings</description>
                        <label>$LOCALIZE[14207]</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31061]</property>
                        <onclick>activatewindow(InterfaceSettings)</onclick>
					</item>
					<item id="5">
                        <description>Skin settings</description>
                        <label>$LOCALIZE[20077]</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31083]</property>
                        <onclick>activatewindow(SkinSettings)</onclick>
					</item>
					<item id="6">
                        <description>Profiles</description>
                        <label>$LOCALIZE[14210]</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31103]</property>
                        <onclick>activatewindow(Profiles)</onclick>
					</item>
					<item id="7">
                        <description>Addons</description>
                        <label>24001</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31067]</property>
                        <onclick>activatewindow(AddonBrowser)</onclick>
					</item>
					<item id="8">
                        <description>Programs</description>
                        <label>31003</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31111]</property>
                        <onclick>ActivateWindow(programs,addons,return)</onclick>
					</item>
					<item id="9">
                        <description>File Manager</description>
                        <label>10003</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31095]</property>
                        <onclick>activatewindow(filemanager)</onclick>
					</item>
					<item id="10">
                        <description>System Information</description>
                        <label>$LOCALIZE[138]</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31108]</property>
                        <onclick>ActivateWindow(systeminfo)</onclick>
					</item>
					<item id="11">
                        <description>System Configurations</description>
                        <label>$LOCALIZE[31016]</label>
                        <label2></label2>
                        <property name="label3">$LOCALIZE[31105]</property>
                        <onclick>activatewindow(SystemSettings)</onclick>
					</item>
					<item id="12">
						<description>System Setup</description>
						<visible>System.HasAddon(program.clue)</visible>
						<label>$LOCALIZE[31060]</label>
						<label2></label2>
						<property name="label3">$LOCALIZE[31088]</property>
						<onclick>RunAddon(program.clue)</onclick>
					</item>
				</content>
			</control>
		</control>
	</controls>
</window>